li {
  color: black;
}

#navbar {
  background-color: #552f5b;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
}

.nav-text {
  display: flex;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: middle;

}

.nav-buttons {
  width: 144px;
  height: 40px;
  margin-right: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signout-button {
  font-size: inherit;
  font-weight: 300;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-image: image-url('logout.png');
  background-size: 100%;
  background-position: 50% 50%;
  margin-bottom: 10px;
}

.signout-button:active {
  outline: none;
}

.messages-button {
  font-size: inherit;
  font-weight: 300;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-image: image-url('messages.png');
  background-size: 100%;
  background-position: 50% 50%;
  margin-bottom: 10px;
  margin-right: 2px;
}

.messages-button:active {
  outline: none;
}

.profile-button {
  font-size: inherit;
  font-weight: 300;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-image: image-url('profile.png');
  background-size: 100%;
  background-position: 50% 50%;
  margin-bottom: 10px;
  margin-left: 2px;
}

.profile-button:active {
  outline: none;
}

#small-logo {
  font-family: 'Baloo Bhaijaan', cursive;
  font-style: italic;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 30px;
  color: white;
}
