.users-index {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-top: 101px;
}

.user-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 900px;
}

.user-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 400px;
  margin-right: 9px;
  margin-left: 9px;
  margin-bottom: 10px;
  border: 1px solid rgba(178, 99, 191, 0.1);
  box-shadow: 3px 3px 10px lightgrey;
  background-color: white;
}

.user-item-image {
  width: 250px;
  height: 250px;
  margin: 0px;
  margin-bottom: 32px;
}

.user-item-image:hover {
  width: 260px;
  height: 260px;
}

.user-item-text {
  margin-bottom: 20px;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:-moz-any-link {
  text-decoration: none;
}

.user-item-name {
  margin: 5px;
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.user-item-age {
  margin: 5px;
  color: #afafaf;
  text-decoration: none;
  font-size: 16px;
}

.search-index {
  display: flex;
  flex-direction: column;
}

.users-search {
  position: absolute;

  height: 101px;
  border-top: 1px solid rgba(178, 99, 191, 0.3);
  background-color: #552f5b;
  width: 100%;
}

.age-search-form {
  position: absolute;
  color: black;
  background-color: white;
  padding: 5px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  top: 70px;
  width: 200px;
  height: 90px;
}

.dist-search-form {
  position: absolute;
  color: black;
  background-color: white;
  padding: 5px;
  padding-top: 9px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  top: 70px;
  width: 275px;
  height: 80px;
}

.search-item {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.age-input {
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  text-indent: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgrey;
  width: 78px;
  height: 36px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 92%;
  margin-bottom: 0px;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 40px;
  width: 40px;
  background: transparent;
  background-image: image-url('slider.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 52%;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-moz-range-thumb {
  height: 40px;
  width: 40px;
  background: transparent;
  background-image: image-url('slider.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 52%;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 40px;
  width: 40px;
  border-radius: 3px;
  background: transparent;
  background-image: image-url('slider.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 50% 52%;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #552f5b;
  border-radius: 7px;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: #552f5b;
  border-radius: 7px;
}


a {
  text-decoration: underline;
  cursor: pointer;
}

.users-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 101px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #e5c9e9;
}

.age-link, .dist-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-right: 10px;
  margin-left: 10px;
}

.hidden {
  display: none;
}
