h1 {
  font-weight: lighter;
  color: white;
  margin-top: 120px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  margin-top: 0px;
}

.profile-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  border-top: 1px solid rgba(178, 99, 191, 0.3);
  background-color: #552f5b;
}

.profile-header-items {
  display: flex;
  flex-direction: row;
  width: 70%;
}

.profile-header-text {
  display: flex;
  flex-direction: column;
}

img {
  width: 175px;
  height: 175px;
  cursor: pointer;
  margin-top: 60px;
  margin-right: 20px;
}

.profile-body {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-left: 80px;
  width: 70%;
}

.profile-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.profile-edit-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: image-url('edit.png');
  background-size: 100%;
  background-position: 50% 50%;
  margin-left: 10px;
}

.profile-input {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.profile-input-text {
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  border: 1px solid lightgrey;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100px;
  width: 80%;
}

.profile-submit-button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: black;
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
}

.profile-item-header {
  margin-bottom: 0px;
  margin-top: 23px;
}
