h1 {
  font-weight: lighter;
  color: white;
  margin-top: 120px;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: lighter;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: white;
  margin-top: 0px;
}

.profile-header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
  border-top: 1px solid rgba(178, 99, 191, 0.3);
  background-color: #552f5b;
}

.profile-header-items {
  display: flex;
  flex-direction: row;
  margin-right: 17%;
  width: 700px;
}

.back-button {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background-image: image-url('back.png');
  background-repeat: no-repeat;
  background-size: 72%;
  background-position: 50% 50%;
  margin-right: 15px;
  margin-top: 130px;
  cursor: pointer;
}

.back-button:hover {
  background-image: image-url('back-hover.png');
}

.profile-header-text {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

img {
  width: 175px;
  height: 175px;
  margin-top: 60px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.currentuser-image:hover {
  cursor: pointer;
  opacity: 0.7;
}

.profile-body-container {
  display: flex;
  justify-content: center;
}

.profile-body {
  display: flex;
  margin-top: 60px;
  margin-right: 17%;
  width: 70%;
  max-width: 700px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-edit-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: image-url('edit.png');
  background-size: 100%;
  background-position: 50% 50%;
  margin-left: 10px;
}

.profile-input {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.profile-input-text {
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  border: 1px solid lightgrey;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 100px;
  width: 80%;
}

.profile-submit-button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: black;
  background-color: white;
  border: 1px solid lightgrey;
}

.profile-submit-button:hover {
  background-color: #ffd599;
}

.profile-item-header {
  margin-bottom: 0px;
  margin-top: 23px;
}

.question-index-button {
  width: 100px;
  height: 40px;
  font-size: 16px;
  color: white;
  background-color: #b263bf;
  margin-top: 135px;
  margin-left: 40px;
}

.question-index-button:hover {
  background-color: white;
  color: black;
}
