body {
  margin: 0px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

p, form, select {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  list-style: none;
  color: white;
}

.homepage-reg {
  background-color: #ff9b38;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 506px;
  align-items: center;
}

.homepage-body {
  color: white;
  font-size: 20px;
  width: 65%;
  min-width: 700px;
}

.front-head {
  font-size: 60px;
  font-weight: 800;
  word-spacing: 10px;
  color: white;
  margin-bottom: 20px;
}

#auth-navbar {
  background-color: #ff9b38;
  display: flex;
  top: 0;
  left: 0;
  padding-top: 20px;
  height: 70px;
  width: 100%;
  justify-content: center;
}

.auth-nav-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  min-width: 700px;
  color: white;
}

#logo {
  font-family: 'Baloo Bhaijaan', cursive;
  font-style: italic;
  font-size: 27px;
  margin-bottom: 25px;
}

select {
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  width: 180px;
  margin-right: 10px;
  border: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  -moz-appearance: none;
  -moz-border-radius: 2px;
  background-image: image-url('chevron.png');
  background-position: 92% 50%;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  text-indent: 20px;
}

button {
  font-size: 20px;
  font-weight: 300;
  width: 125px;
  height: 50px;
  border: 0px;
  border-radius: 2px;
  background-color: #552f5b;
  color: white;
  margin-top: 5px;
}

.reg-text-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 700px;
}

label {
  width: 30%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.labeltext {
  margin-bottom: 7px;
}

input {
  border: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 2px;
  height: 46px;
  width: 180px;
  text-indent: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.ageselect {
  height: 46px;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
}

.textbutton {
  margin-top: 25px;
}

.signin-button {
  font-size: inherit;
  font-weight: 300;
  width: 77px;
  height: 40px;
  border: 1px solid white;
  border-radius: 4px;
  margin-left: 10px;
  background-color: transparent;
  color: white;
  margin-top: 5px;
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -150px;
  width: 320px;
  height: 425px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.modal-content p {
  font-size: 20px;
  font-weight: 400;
}

.modal-form {
  padding-top: 5px;
  padding-bottom: 25px;
}

.modalbutton {
  display: flex;
  justify-content: center;
  width: 180px;
}

.modalinput {
  border: 1px solid lightgrey;
  height: 40px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
