<!DOCTYPE html>
<html>
  <head>
    <title>OkCorral</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
