<!DOCTYPE html>
<html>
  <head>
    <title>OkCorral</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800|Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
